.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    border-top: 2px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    color: #818181;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: cyan;
}

#classmates1{
  display: grid;
float: right;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr ;
padding: 15px;
border-color: 2px solid black;
}

#classmates2{
  display: grid;
float: right;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding: 15px;
border-color: 2px solid black;
}

#classmates3{
  display: grid;
float: right;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding: 15px;
border-color: 2px solid black;
}
